footer {
  width: 100%;
  background-color: $color-bg-footer;
}

.container-footer {
  @extend .flex-column;
  flex: 0 0 auto;
  padding: 10px;

  .credit p {
    color: $color-fg-footer;
    font-size: 0.9rem;
    margin: 0;
  }
}

ul.social {
  @extend .horiz-list;
  justify-content: center;
  max-width: 960px;
  margin: 0;
  padding: 25px;

  li a i {
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    color: $color-bg-base;
    background-color: $color-bg-nav-hover;
    @include border-radius(50%);
    @include transition(0.4s);

    &:hover, &:focus {
      @include transition(0.4s);
      // TODO: Add tooltip
    }
  }

}

i.icon-github:hover,i.icon-github:focus { background-color: #000000; }
i.icon-linkedin:hover,i.icon-linkedin:focus { background-color: #0077B5; }
i.icon-twitter:hover,i.icon-twitter:focus { background-color: #55ACEE; }

@media only screen and (min-width: $pixel-breakpoint) {
  footer {
    display: flex;
    justify-content: center;
  }

  .container-footer {
    width: 90%;
    max-width: 960px;

    .social { justify-content: flex-end; }
  }
}
