nav {
  width: 100%;
  max-width: 960px;
  @extend .flex-column;
  align-items: center;
}

.container-header {
  background-color: $color-bg-nav;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  min-height: 112px;

  a {
    @extend .undecorated-a;
    text-align: center;
    color: $color-fg-nav;
    margin: 0 10px;
    padding: 4px;
  }

  a.brand {
    h1, h2, h3, h4, h5, h6 { margin: 2px; }
    h1 { font-size: 2rem; }
    h2 { font-size: 1rem; }
  }

  ul {
    @extend .horiz-list;
    margin: 0;
    padding: 0;
    width: 100%;

    a {
      font: 150% $font-stack;
      font-weight: bold;
      color: $color-fg-nav;
      @include transition(0.3s);

      &:hover, &:focus {
        color: $color-fg-nav-hover;
        @include transition(0.3s);
      }
    }
  }
}

@media only screen and (min-width: $pixel-breakpoint) {
  .container-header {
    display: flex;
    justify-content: center;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    ul { width: auto; }
  }
}
