@import 'mixin';

$font-stack-heading: 'Bungee', sans-serif;
$font-stack-body: 'Lato', sans-serif;
$pixel-breakpoint: 768px;

$color-bg-base: #F3F3F3;
$color-bg-base-side: #DDDDDD;
$color-bg-content: $color-bg-base;
$color-bg-nav: #225378;
$color-bg-nav-hover: #999999;
$color-bg-footer: $color-bg-nav;
$color-fg-base: #3E3E3E;
$color-fg-hover: $color-bg-base-side;
$color-fg-nav: #B3B3B3;
$color-fg-nav-hover: $color-fg-hover;
$color-fg-footer: $color-fg-nav;

h1, h2, h3 { font-family: $font-stack-heading; }
p { font: 100% $font-stack-body; }

body {
  color: $color-fg-base;
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(left, $color-bg-base-side, $color-bg-base, $color-bg-base-side);
}

.flex-column {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
}

.container {
  @extend .flex-column;
  height: 100%;
}

.undecorated-a {
  display: inline-block;
  text-decoration: none;
}

.horiz-list {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

nav {
  width: 100%;
  max-width: 960px;
  @extend .flex-column;
  align-items: center;
}

.container-header {
  background-color: $color-bg-nav;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  min-height: 112px;

  a {
    @extend .undecorated-a;
    text-align: center;
    color: $color-fg-nav;
    margin: 0 10px;
    padding: 4px;
  }

  a.brand {
    h1, h2, h3, h4, h5, h6 { margin: 2px; }
    h1 { font-size: 2rem; }
    h2 { font-size: 1rem; }
  }

  ul {
    @extend .horiz-list;
    margin: 0;
    padding: 0;
    width: 100%;

    a {
      font: 150% $font-stack-heading;
      color: $color-fg-nav;
      @include transition(0.3s);

      &:hover, &:focus {
        color: $color-fg-nav-hover;
        @include transition(0.3s);
      }
    }
  }
}

.container-body {
  @extend .flex-column;
  height: 100%;
}

.container-content {
  max-width: 960px;
  @extend .flex-column;
  flex: 1 0 auto;
  align-items: center;
  padding: 10px;

  hr {
    display: block;
    clear: both;
    width: 90%;
    height: 1px;
  }
}

p {
  font-size: 1.3rem;
  line-height: 35px;
}

h1 {
  font-size: 2.1em;
  margin: 15px 0 0 0;
}

.profile-image {
  width: 180px;
  height: 180px;
  background-image: url('profile.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  @include animation('fade-in 2s ease-in 0.5s');
}

.blurb { 
  line-height: 25px;
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: center;
  @include animation('fade-in 1.5s ease-in 1.5s');
}

// TODO: Clean this up after adding posts
a.post-listing {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: $color-fg-base;
  margin: 0 10px;
  padding: 10px;
  width: 100%;

  h1 {
    font: 200% $font-stack-body;
    font-weight: bold;
  }

  em {
    font: 120% $font-stack-body;
    font-style: italic;
    line-height: 40px;
  }

  &:hover {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), $color-fg-hover, rgba(0, 0, 0, 0));
  }
}

.post {
  width: 100%;
  padding: 5px;

  hr {
    width: 100%;
  }

  p {
    font: 120% $font-stack-body;
    line-height: 32px;
  }

  code {
    word-wrap: break-word;
    word-break: break-all;
  }

  h1 {
    font: 200% $font-stack-body;
    font-weight: bold;
  }

  .date {
    font: 120% $font-stack-body;
    font-style: italic;
    line-height: 40px;
  }
}

ul.social {
  @extend .horiz-list;
  justify-content: center;
  max-width: 960px;
  margin: 0;
  padding: 25px;

  li a i {
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    color: $color-bg-base;
    background-color: $color-bg-nav-hover;
    border-radius: 50%;
    @include transition(0.4s);

    &:hover, &:focus {
      @include transition(0.4s);
      // TODO: Add tooltip
    }
  }

}

i.icon-github:hover,i.icon-github:focus { background-color: #000000; }
i.icon-linkedin:hover,i.icon-linkedin:focus { background-color: #0077B5; }
i.icon-twitter:hover,i.icon-twitter:focus { background-color: #55ACEE; }

footer {
  width: 100%;
  background-color: $color-bg-footer;
}

.container-footer {
  @extend .flex-column;
  flex: 0 0 auto;
  padding: 10px;

  .credit p {
    color: $color-fg-footer;
    font-size: 0.9rem;
    margin: 0;
  }
}

@media only screen and (min-width: $pixel-breakpoint) {
  .container-header {
    display: flex;
    justify-content: center;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    ul { width: auto; }
  }

  footer {
    display: flex;
    justify-content: center;
  }

  .container-footer {
    width: 90%;
    max-width: 960px;

    .social { justify-content: flex-end; }
  }

  .container-body {
    flex-direction: column;
    align-items: center;
  }

  .container-content {
    margin: 0;

    h1 { margin-top: 30px; }

    hr {
      width: 95%;
      margin: 20px 0;
    }

    .profile-image {
      width: 220px;
      height: 220px;
    }

    .blurb { 
      line-height: 45px;
      font-size: 1.5rem;
    }

    code {
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}
