@import 'mixin';

$font-stack-heading: 'Raleway', sans-serif;
$font-stack-body: 'Dosis', sans-serif;
$pixel-breakpoint: 768px;

$space: 10px;
$profile-pic-size: 240px;
$social-icon-size: 32px;

$color-bg-base: #EEEEEE;
$color-bg-base-hover: #DDDDDD;
$color-bg-content: $color-bg-base;
$color-bg-nav: #024959;
$color-bg-nav-hover: #037E8C;
$color-bg-footer: $color-bg-nav;
$color-bg-side: #CCCCCC;
$color-fg-base: #3E423A;
$color-fg-content: #FCFFF5;
$color-fg-nav: #EEEEEE;
$color-fg-nav-hover: #333EEE;
$color-fg-footer: $color-bg-base;
$color-fg-side: #333EEE;

body {
  h1, h2, h3 { font: 100% $font-stack-heading; }
  p { font: 100% $font-stack-body; }

  color: $color-fg-base;
  background-color: $color-bg-base;
  margin: 0;
}
.container-base {
  display: flex;
  flex-direction: column;
}

.container {
  @extend .container-base;
  height: 100%;
}

.container-header {
  background-color: $color-bg-nav;
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    font-size: 1.8em;
    flex-direction: column;
    margin: 5px;
    padding: 0;

    a {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      padding: 0.7em 1em;
      color: $color-fg-nav;
      transition: 0.3s; // TODO: make this a mixin
      border-radius: 20%;

      &:hover, &:focus {
        background-color: $color-bg-nav-hover;
        transition: 0.3s; // TODO: make this a mixin
      }
    }
  }
}

.container-footer {
  background-color: $color-bg-footer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 128px;

  .social {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px 0 0 0;
    max-width: 960px;
    justify-content: flex-end;
    flex-grow: 1;
    width: 100%;

    ul {
      display: flex;
      justify-content: center;
      flex-direction: row;
      list-style-type: none;
      padding: 0;
      margin: 0;

      a i {
        text-align: center;
        align-items: center;
        font-size: 1.5em;
        background-color: $color-bg-nav-hover;
        margin: 0.5em;
        padding: 8px;
        border-radius: 50%;
        transition: 0.4s;
        color: $color-bg-base;

        &:hover { transition: 0.4s; }
      }

      i.icon-github:hover { background-color: #000000; } // TODO: Add tooltip
      i.icon-linkedin:hover { background-color: #0077B5; }
      i.icon-twitter:hover { background-color: #55ACEE; }
    }
  }

  .credit {
    max-width: 960px;
    width: 95%;
    color: $color-fg-footer;
    font-size: 0.9rem;
    margin: 15px 0 0 0;

    a { color: $color-fg-footer; }

    p {
      margin: 0;
      padding: 10px 0;
    }
  }
}

.brand {
  padding: 5px;
  width: 280px;

  a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: $color-fg-nav;

    h1 { font-size: 2rem; }
    h2 { font-size: 1rem; }
  }
}

.container-body {
  @extend .container-base;
  flex: 1 0 auto;
  justify-content: center;
}

.container-content {
  max-width: 960px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 2em;
    margin: 0.5em 0;
  }

  .profile-image {
    width: $profile-pic-size;
    height: $profile-pic-size;
    margin: 0.5em;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('profile.jpg');
    @include animation('fade-in 2s ease-in 0.5s');
  }

  .blurb { 
    padding: 0 20px;
    font-size: 1.4rem;
    @include animation('fade-in 1.5s ease-in 1.5s');
  }

  a.post-listing {
    width: 80%;
    text-decoration: none;
    transition: 0.3s;
    color: $color-fg-base;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    font-size: 1.2rem;

    h2 {
      font-size: 2.5rem;
      text-align: center;
    }

    .date {
      text-align: right; // TODO: Find out why this doesn't work
    }

    &:hover {
      background-color: $color-bg-base-hover;
      border-radius: 10px;
      transition: 0.3s;
    }
  }

  .post {
    text-align: left;

    .title { font-size: 2.5rem; }
    .date { text-align: right; }
    p { font-size: 1.5rem; }

    h1 { font-size: 1.9rem; }
    h2 { font-size: 1.7rem; }
    h3 { font-size: 1.5rem; }
  }
}

@media only screen and (min-width: $pixel-breakpoint) {
  .container-header {
    flex-direction: row;

    ul {
      flex-direction: row;

      a {
        margin-right: 2em;
      }
    }
  }

  .container-footer {
    .social {
      flex-direction: row;
      padding: 32px 0 0 0;
    }

    .credit {
      margin: 0;
    }
  }

  .container-body {
    flex-direction: row;
  }

  .container-content {
    flex: 1;
    padding: 0 $space;
    margin: 0;
  }
}

