{{# partial "content" }}
  <h1>About me</h1>
  <p>I'm a software developer working at <a href="http://www.goldmansachs.com/">Goldman Sachs</a>. By day I maintain and enhance the infrastructure that keeps tabs on our exposure to counterparties. By night I tinker around in the terminal and feed my insatiable hunger for all things Unix. I have been writing software as a hobby for seven years and started professionally three years ago.</p>
  <p>My current interests lay in game development and application programming. Recently I've been captivated by <a href="https://www.rust-lang.org/">Rust</a> and use it for most of my hobby coding. I've used C++, Java and Ruby extensively in the past. The launch of this website was my first forey into web development and part of an effort to keep my skillset varied.</p>
  <p>When I'm not hanging out in my box in central London, I'm probably attending a developer meetup or exploring the great urban wilderness. I'm trying to occasionally leave the city and explore the real wilderness too.</p>
  <h1>About this website</h1>
  <p>This website is built using the <a href="http://ironframework.io/">Iron</a> web framework. It uses <a href="https://github.com/sunng87/handlebars-iron">Handlebars</a> for templating, <a href="https://daringfireball.net/projects/markdown/">Markdown</a> for the blog posts, <a href="https://github.com/blaenk/hoedown">Hoedown</a> to parse the Markdown and <a href="http://www.entypo.com/">Entypo</a> for the social media glyphs.</p>
{{/partial}}

{{> body}}
