{{# partial "content" }}
  <p>I have been writing software for seven years and currently work within the credit risk technology team of a <a href="http://www.goldmansachs.com/">large investment bank</a>. By day I maintain and enhance the infrastructure that keeps tabs on our exposure to counterparties. By night I tinker around with game development and feed my insatiable hunger for all things Unix.</p>
  <p>When I'm not hanging out in my box in central London, I'm probably attending a developer meetup or exploring the great urban wilderness. I'm trying to occasionally leave the city and explore the real wilderness too.</p>
  <p>Gaming was once a significant part of my life but has regrettably subsided because of other commitments. Still, I try to stay current with what is new in the industry and fall for all the hype for the next big RPG.</p>
{{/partial}}

{{> body}}
