{{# partial content }}
  <div class="post">
    <h1 class="title">{{title}}</h1>
    <hr />
    <h2 class="date">{{created}}</h2>
    {{{body}}}
  </div>
  <script src="/app/js/prism.js"></script>
{{/partial}}

{{> body}}
