{{# partial content }}
  <article>
    <div class="post-container">
      <div class="post">
        <h1 class="title">{{title}}</h1>
        <h2 class="date">{{created}}</h2>
        {{{body}}}
      </div>
    </div>
  </article>
  <script src="/app/js/prism.js"></script>
{{/partial}}

{{> body}}
