{{# partial content }}
  {{#each posts}}
    <a href="/blog/{{path}}" class="post-listing">
      <h1>{{title}}</h1>
      <h2 class="date">{{date}}</h2>
      <p>{{summary}}</p>
    </a>
    <!-- <hr /> -->
  {{/each}}
{{/partial}}

{{> body}}
