{{# partial "body" }}
  <article class="container-content">
    {{#block "content"}}
    {{/block}}
  </article>
  <footer>
    <div class="container-footer">
      <ul class="social">
        <li><a href="https://twitter.com/krishanwyse"><i class="icon-twitter"></i></a></li>
        <li><a href="https://github.com/kwyse"><i class="icon-github"></i></a></li>
        <li><a href="https://uk.linkedin.com/in/krishanwyse"><i class="icon-linkedin"></i></a></li>
      </ul>
      <div class="credit">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        <p>Built with <a href="https://crates.io/crates/iron">Iron</a> and <a href="https://crates.io/crates/handlebars-iron">Handlebars</a>. Icons by <a href="http://www.entypo.com/">Entypo</a>.</p>
      </div>
    </div>
  </footer>
{{/partial}}

{{> main}}
