{{# partial "content" }}
  <h1>Hey there!</h1>
  <div class="profile-image"></div>
  <p>My name is Krishan Wyse and I'm a software developer residing in London. I have been coding personal projects for seven years and started professionally three years ago. My interests lay in OS hacking and game development. Other hobbies include travelling, synthwave and futurism. If you would like to get in contact with me, please <a href="mailto:kwysek@gmail.com">send me an email</a>.</p>
{{/partial}}

{{> main}}
