{{# partial "content" }}
  <h1>Hey there!</h1>
  <div class="profile-image"></div>
  <!-- <p class="fade-in blurb">My name is Krishan Wyse and I'm a software developer residing in London. I have been coding personal projects for seven years and started professionally three years ago. My interests lay in OS hacking and game development. When I'm not coding I'm probably either travelling or looking up hypothetical spacecraft schematics.</p> -->
  <p class="fade-in blurb">My name is Krishan Wyse</p>
  <p class="fade-in blurb">I'm a software developer residing in London</p>
  <p class="fade-in blurb"><strong>New blog series coming soon!</strong></p>
  <div class="social">
    <ul>
      <li><a href="https://twitter.com/krishanwyse"><i class="icon-twitter"></i></a></li>
      <li><a href="https://github.com/kwyse"><i class="icon-github"></i></a></li>
      <li><a href="https://uk.linkedin.com/in/krishanwyse"><i class="icon-linkedin"></i></a></li>
    </ul>
  </div>
{{/partial}}

{{> main}}
