{{# partial "body" }}
  <article class="container-content">
    <h1>Hey there!</h1>
    <hr />
    <div class="profile-image"></div>
    <p class="fade-in blurb">
      My name is Krishan Wyse<br \>
      I'm a software developer residing in London<br \>
      <strong>New blog series coming soon!</strong>
    </p>
    <div class="social">
      <ul>
        <li><a href="https://twitter.com/krishanwyse"><i class="icon-twitter"></i></a></li>
        <li><a href="https://github.com/kwyse"><i class="icon-github"></i></a></li>
        <li><a href="https://uk.linkedin.com/in/krishanwyse"><i class="icon-linkedin"></i></a></li>
      </ul>
    </div>
  </article>
{{/partial}}

{{> main}}
