<!DOCYPE html>
<html>
  <head>
    <title>Krishan Wyse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="blog, tech, technology, programming, software development, software engineering">
    <meta name="description" content="A personal website and blog">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/css/icons.css">
    <link href='https://fonts.googleapis.com/css?family=Bungee' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  </head>
  <body class="container">
    <header class="container-header">
      <nav>
        <div class="brand">
          <a href="/">
            <h1>Krishan Wyse</h1>
            <h2><em>Software developer</em></h2>
          </a>
        </div>
        <ul class="navbar">
          <li class="menu"><a href="/about">About</a></li>
          <li class="menu"><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main class="container-body">
      <article class="container-content">
        {{#block "content"}}
        {{/block}}
      </article>
    </main>
    <!-- <footer class="container-footer">
         <div class="social">
         <ul>
         <li><a href="https://twitter.com/krishanwyse"><i class="icon-twitter"></i></a></li>
         <li><a href="https://github.com/kwyse"><i class="icon-github"></i></a></li>
         <li><a href="https://uk.linkedin.com/in/krishanwyse"><i class="icon-linkedin"></i></a></li>
         </ul>
         </div>
         <div class="credit">
         <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
         <p>Built with <a href="https://crates.io/crates/iron">Iron</a> and <a href="https://crates.io/crates/handlebars-iron">Handlebars</a>. Icons by <a href="http://www.entypo.com/">Entypo</a>.</p>
         </div>
         </footer> -->
    <!-- <script type="text/javascript" src="/app/js/main.js"></script> -->
  </body>
</html>
